.page-content {
    position: relative;
    width: 70%;
    left: 50%;
    transform: translate(-50%);
    margin: 50px 0;
}

.page-content img {
    width: 100%;
}

.page-content p {
    text-align: justify;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 20px;
}

.page-content .title {
    font-size: 30px;
    font-weight: bold;
}

.page-content .text1 {
    font-size: 24px;
}
