.header {
    width: 100%;
    height: 72px;
    background-color: #AEDCF2;
    box-shadow: 0 1px 10px 0px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    user-select: none;
    z-index: 100;
}

.toTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #AEDCF2;
    border-radius: 50%;
    box-shadow: 0 1px 10px 0px rgba(0, 0, 0, 0.5);
    display: block;
    cursor: pointer;
    z-index: 100;
}

.toTop i {
    font-size: 42px;
    color: #000;
    line-height: 50px;
    text-align: center;
    transform: translate(4px, 1px);
}

#to-top {
    height: 72px;
    display: block;
    width: 100%;
    background-color: #AEDCF2;
}

/* main nav */
.header-nav {
    margin-top: 12px;
}

.header-logo {
    float: left;
    margin-top: 24px;
}

.header-logo img {
    width: auto;
    height: 24px;
    margin-left: 60px;
}

.header-nav {
    position: relative;
    display: inline-block;
    margin-left: 60px;
    background-color: #EFEFEF;
    text-align: center;
    padding: 8px;
    border-radius: 25px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.header-nav a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    padding: 4px 16px;
    z-index: 1;
    text-align: center;
    display: inline-block;
    position: relative;
}

.header-nav .animation {
    position: absolute;
    height: 40px;
    /* height: 5px; */
    top: 4px;
    /* bottom: 0; */
    z-index: 0;
    background: #AEDCF2;
    border-radius: 20px;
    transition: all .5s ease 0s;
}

.header-nav a:nth-child(1) {
    width: 100px;
}

.header-nav .start-home,
a:nth-child(1):hover~.animation {
    width: 100px;
    left: 10px;
}

.header-nav a:nth-child(2) {
    width: 100px;
}

.header-nav .start-cloth,
.header-nav a:nth-child(2):hover~.animation {
    width: 100px;
    left: 110px;
}

.header-nav a:nth-child(3) {
    width: 100px;
}

.header-nav .start-accessories,
.header-nav a:nth-child(3):hover~.animation {
    width: 100px;
    left: 215px;
}

.header-nav a:nth-child(4) {
    width: 100px;
}

.header-nav .start-sales,
.header-nav a:nth-child(4):hover~.animation {
    width: 100px;
    left: 320px;
}

.header-nav a:nth-child(5) {
    width: 100px;
}

.header-nav .start-about,
.header-nav a:nth-child(5):hover~.animation {
    width: 100px;
    left: 425px;
}



.header-nav a:last-child {
    margin-right: 0;
}

/* sub nav */
.header-subnav {
    float: right;
    margin-right: 20px;
    font-size: 26px;
    user-select: none;
    margin-top: 18px;
    cursor: pointer;
    list-style-type: none;
}

.header-subnav>li {
    display: inline-block;
}

.header-subnav a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    position: relative;
}

.header-subnav li:hover .user-dropdown-menu {
    display: block;
}

/* search box */
.search-box {
    position: relative;
    display: inline-block;
    transform: translate(0, -1px);
    border-radius: 25px;
    background-color: transparent;
}

.search-box a {
    transform: translate(0, 2px);
    z-index: 100;
}

.search-box input {
    height: 40px;
    transform: translate(0, -6px);
    padding: 0 10px 0 0;
    border: none;
    outline: none;
    display: none;
    background-color: transparent;
    transition: all 5s ease 0s;
}

/* user drop down */

.user-dropdown-menu {
    position: fixed;
    display: none;
    transform: translate(-175px, 0);
    border-radius: 20px;
    background-color: #EFEFEF;
    list-style-type: none;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    font-size: 18px;
    width: 250px;
}

.user-dropdown-menu a {
    display: block;
    text-decoration: none;
    position: relative;
    padding: 10px;
}

.user-dropdown-menu .sign-out {
    text-align: center;
    border-top: 1px solid #ccc;
}

.user-dropdown-menu .sign-out a {
    border-radius: 0 0 20px 20px;
}

.user-dropdown-menu .sign-out a:hover {
    color: #fff;
    background-color: red;
    transition: all .5s ease 0s;
}

.user-dropdown-menu .avt-item {
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: flex-end;
    border-bottom: 1px solid #ccc;
}

.user-dropdown-menu .avt-item img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 10px;
    border: 3px solid #AEDCF2;
}

.user-dropdown-menu .item a:hover {
    color: #ff6767;
    transition: all .2s ease 0s;
}

/* more menu dropdown */
.header-subnav li:last-child .user-dropdown-menu {
    transform: translate(-210px, 0);
}

.help-info {
    margin-top: 60px;
    padding: 0 10px;
    user-select: text;
    cursor: auto;
}
.help-info img {
    width: 180px;
    height: auto;
}
.help-info .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    transform: translate(2px, 0);
}
.help-info .socials i{
    font-size: 24px;
    color: #000;
}
.user-dropdown-menu .list {
    font-weight: 700;
    font-size: 24px;
    margin: 10px 0 30px 0;
    cursor: default;
}
.border-tb {
    border-bottom: 1px solid #ccc;
}
.border-tb:last-child {
    border-bottom: none;
}
