.page-content {
    position: relative;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
    margin: 50px 0;
}

.page-content li {
    margin-left: 30px;
    font-size: 20px;
}

.page-content h1 {
    text-align: center;
}

.page-content p, ul, ol, li {
    text-align: justify;
    line-height: 1.5;
    /* margin-top: 20px; */
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.648);
}

.header-logo img {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.page-content .page_title{
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.page-content p{
    font-size: 20px;
}